@model E_Ticaret.WebUI.Models.ProductListViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <table class="table">
        <tr>
            <td>Product Name</td>
            <td>Unit Price</td>
            <td>Unit in Stock</td>
            <td></td>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Unitprice</td>
                <td>@item.UnitsInStock</td>
                <td><a class="btn btn-sm btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId"> Ürün Ekle</a></td>
            </tr>
        }
    </table>
</div>
<product-list-pager current-category="@Model.CurrentCategory"
                    current-page="@Model.CurrentPage"
                    page-count="@Model.PageCounts"
                    page-size="@Model.PageSize"></product-list-pager>
